<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"><link rel="icon" href="https://jscdn.com.cn/highcharts/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .list-group-horizontal .list-group-item {
            display: inline-block;
        }
        .list-group-horizontal .list-group-item {
            margin-bottom: 0;
            margin-left:-4px;
            margin-right: 0;
        }
        .list-group-horizontal .list-group-item:first-child {
            border-top-right-radius:0;
            border-bottom-left-radius:4px;
        }
        .list-group-horizontal .list-group-item:last-child {
            border-top-right-radius:4px;
            border-bottom-left-radius:0;
        }
    </style>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/bootstrap-select/1.14.0-beta/css/bootstrap-select.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-select/1.14.0-beta/js/bootstrap-select.min.js"></script>
    <script src="http://code.highcharts.com.cn/highcharts/8.2.2/highcharts.js"></script>
    <script src="http://code.highcharts.com.cn/highcharts/8.2.2/modules/exporting.js"></script>
    <script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
    <script src="https://code.highcharts.com/modules/variwide.js"></script>
<!--    <link th:href="@{../static/css/city-picker.css}" rel="stylesheet" type="text/css" />-->
<!--    <script th:src="@{../static/js/city-picker.data.js}"></script>-->
<!--    <script th:src="@{../static/js/city-picker.js}"></script>-->
        <!--<link href="/css/city-picker.css" rel="stylesheet" type="text/css" />-->
        <!--<script src="/js/city-picker.data.js"></script>-->
        <!--<script src="/js/city-picker.js"></script>-->

</head>
<body>
        <div class="row" th:insert="~{public :: public_top(0)}"></div>
        <div>
        <div th:insert="~{public :: public_city}"></div>
        <div class="row">
            <div id="container" class="col-md-12"></div>
        </div>
        <div class='row'>
            <div class="col-md-5"></div>
            <div class="col-md-2">
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <div class="col-md-5"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div id="pie" class="col-md-3"></div>
            <div class="col-md-1"></div>
            <div id="react" class="col-md-4"></div>
            <div class="col-md-2"></div>
        </div>

</div>


<script>
    $(function(){
        $(".headerpage").load("header.html");
        $(".selectpicker").selectpicker('val','2');//默认选中 value=“selectrateid” 的option
        $(".selectpicker").selectpicker('refresh');
        showByCity(1451, $('.selectpicker option:selected').val());
        $('#city a').on('click', function (e) {
            e.preventDefault()
            $(this).siblings('a').removeClass('active');  // 删除其兄弟元素的样式
            $(this).addClass('active');
            if($(this).attr("id") != '0'){
                showByCity($(this).attr("id"), $('.selectpicker option:selected').val());
            }else{
                console.log("待处理");
            }
        })

        $('.selectpicker').on('change', function(){
            var selected = $('.selectpicker option:selected').val();
            $(".selectpicker").selectpicker('val',selected);//默认选中 value=“selectrateid” 的option
            $(".selectpicker").selectpicker('refresh');
            $('#city').children().map(function (index, e) {
                if($(this).hasClass('active')){
                    showByCity($(this).attr('id'), selected);
                }
            });
        });
    });

    function search() {
        let selected = $('.selectpicker option:selected').val();
       let city = $('#keyword').val();
        $.ajax({
            url:'/aqi/getAqiByCityName/'+city,//请求数据的地址
            type : "get",
            async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            data : {},
            dataType : "json",        //返回数据形式为json
            success:function(result){
                $('#keyword').val("");
                if(result.code == 200){
                    showByCity(result.data, selected);
                }else{
                    console.log(result.msg);
                    alert(result.msg);
                }
            },
            error:function(e){
                console.log(e)
            }
        });
    }

    function showByCity(id, type) {
        console.log(type);
        Date.prototype.format = function(fmt) {
            var o = {
                "M+" : this.getMonth()+1,                 //月份
                "d+" : this.getDate(),                    //日
                "h+" : this.getHours(),                   //小时
                "m+" : this.getMinutes(),                 //分
                "s+" : this.getSeconds(),                 //秒
                "q+" : Math.floor((this.getMonth()+3)/3), //季度
                "S"  : this.getMilliseconds()             //毫秒
            };
            if(/(y+)/.test(fmt)) {
                fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
            }
            for(var k in o) {
                if(new RegExp("("+ k +")").test(fmt)){
                    fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
                }
            }
            return fmt;
        }
        let now = new Date().format("yyyy-MM-dd");
        $.ajax({
            url:'/aqi/getPidData/'+id+'/'+type+'?tmp='+now,//请求数据的地址
            type : "get",
            async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            data : {},
            dataType : "json",        //返回数据形式为json
            success:function(result){
                pie(result['pie'])
                react(result['react'])
            },
            error:function(e){
            }
        });

        $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD',
            locale: moment.locale('zh-cn'),
            defaultDate: now,
        }).on('dp.change',function(ev){
            ev.preventDefault()
            let  time = ev.date.valueOf();
            let datestr = new Date(time).format('yyyy-MM-dd');
            console.log(id);
            $.ajax({
                url:'/aqi/getPidData/'+id+'?tmp='+datestr,//请求数据的地址
                type : "get",
                async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
                data : {},
                dataType : "json",        //返回数据形式为json
                success:function(result){
                    pie(result['pie'])
                    react(result['react'])
                },
                error:function(e){
                }
            });
        });

        $.ajax({
            url:'/aqi/getAqiByCity/'+id +'/'+ type,//请求数据的地址
            type : "get",
            async : true,            //异步请求（同步请求将会锁住浏览器，用户其他操作必须等待请求完成才可以执行）
            data : {},
            dataType : "json",        //返回数据形式为json
            success:function(result){
                show(result)
            },
            error:function(e){
            }
        });
    }

    function react(react) {
        Highcharts.chart('react', {
            chart: {
                type: 'variwide' // varwide 依赖 varwide.js
            },
            title: {
                text: '每小时AQI分布图'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                type: 'category',
                title: {
                    text: '颜色代表AQI的污染程度'
                }
            },
            legend: {
                enabled: false
            },
            plotOptions: {

            },
            colors: react['colors'],
            series: [{
                name: 'AQI指数',
                data: react['react'],
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.0f}'
                },
                tooltip: {
                    pointFormat: ''
                },
                colorByPoint: true
            }]
        });
    }


    function pie(pie) {
        Highcharts.chart('pie', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'AQI比例饼图'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            colors: pie['colors'],
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: pie['pie']
        });
    }


    function  show(s) {
        var chart = Highcharts.chart({
            chart: {
                renderTo: 'container',
                type: 'spline'
            },
            title: {
                text: 'AQI污染指数趋势图'
            },
            subtitle: {
                text: '全国AQI污染指数统计情况'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S.%L',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                }
            },
            yAxis: {
                min: 0,
                minorGridLineWidth: 0,
                gridLineWidth: 0,
                alternateGridColor: null,
                plotBands: [{ // Light air
                    from: 0,
                    to: 50,
                    color: 'rgba(0, 153, 102, 0.1)',
                    label: {
                        text: '空气质量优',
                        style: {
                            color: '#606060'
                        }
                    }
                }, { // Light breeze
                    from: 51,
                    to: 100,
                    color: 'rgba(255 ,222 ,51, 0.1)',
                    label: {
                        text: '空气质量良',
                        style: {
                            color: '#606060'
                        }
                    }
                }, { // Gentle breeze
                    from: 101,
                    to: 150,
                    color: 'rgba(255, 153, 51, 0.1)',
                    label: {
                        text: '轻度污染',
                        style: {
                            color: '#606060'
                        }
                    }
                }, { // Moderate breeze
                    from: 151,
                    to: 200,
                    color: 'rgba(204, 0, 51, 0.1)',
                    label: {
                        text: '中度污染',
                        style: {
                            color: '#606060'
                        }
                    }
                }, { // Fresh breeze
                    from: 201,
                    to: 300,
                    color: 'rgba(102, 0, 153, 0.1)',
                    label: {
                        text: '重度污染',
                        style: {
                            color: '#606060'
                        }
                    }
                }, { // Strong breeze
                    from: 300,
                    to: 400,
                    color: 'rgba(126, 0, 35, 0.1)',
                    label: {
                        text: '污染爆表',
                        style: {
                            color: '#606060'
                        }
                    }
                }]
            },
            tooltip: {
                dateTimeLabelFormats: {
                    millisecond: '%H:%M:%S.%L',
                    second: '%H:%M:%S',
                    minute: '%H:%M',
                    hour: '%H:%M',
                    day: '%Y-%m-%d',
                    week: '%m-%d',
                    month: '%Y-%m',
                    year: '%Y'
                }
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: {
                            x1: 0,
                            y1: 0,
                            x2: 0,
                            y2: 1
                        },
                        stops: [
                            [0, new Highcharts.getOptions().colors[0]],
                            [1, new Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    marker: {
                        radius: 2
                    },
                    lineWidth: 1,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },
            series: s,
            navigation: {
                menuItemStyle: {
                    fontSize: '10px'
                }
            }
        });
    }
</script>
</body>
</html>