<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>模糊笔记</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
<nav class="navbar navbar-inverse " role="navigation" th:fragment="public_top(index)">
    <div class="container-fluid">
        <div class="navbar-header">
            <div style="padding-left: 5px">
                <a class="navbar-brand" href="#">模糊笔记</a>
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse is-collapse"  id="navBar">
            <ul class="nav navbar-nav">
                <li th:class="${index==0?'active':''}"><a href="/index">首页</a></li>
                <li th:class="${index==4?'active':''}"><a href="/map">地图</a></li>
                <li th:class="${index==1?'active':''}"><a href="/area">区域</a></li>
                <li th:class="${index==2?'active':''}"><a href="/compare">对比</a></li>
                <li th:class="${index==3?'active':''}"><a href="/rank">排行榜</a></li>
            </ul>
            <div style="padding-top: 7px">
                <select class="selectpicker" data-width="100px" >
                    <option value="1">中国标椎</option>
                    <option value="2">美国标准</option>
                </select>
            </div>
        </div>
    </div>
</nav>
<div class="row" style="padding-top:10px" th:fragment="public_city">
    <div class="col-md-10 text-center">
        <div class="list-group list-group-horizontal" id="city">
            <a href="#" id="1451" class="list-group-item active">北京</a>
            <a href="#" id="1485" class="list-group-item">南京</a>
            <a href="#" id="1437" class="list-group-item">上海</a>
            <a href="#" id="1539" class="list-group-item">深圳</a>
            <a href="#" id="1449" class="list-group-item">广州</a>
            <a href="#" id = "1453" class="list-group-item">重庆</a>
            <a href="#" id = "1450" class="list-group-item">成都</a>
<!--            <a href="#" id = "1529" class="list-group-item">武汉</a>-->
            <a href="#" id="1522" class="list-group-item">郑州</a>
            <a href="#" id="1452" class="list-group-item">天津</a>
            <a href="#" id = "1569" class="list-group-item">西安</a>
            <a href="#" id = "1470" class="list-group-item">呼和浩特</a>
            <a href="#" id="1580" class="list-group-item">乌鲁木齐</a>
            <a href="#" id="1454" class="list-group-item">石家庄</a>
            <a href="#" id = "1481" class="list-group-item">哈尔滨</a>
            <a href="#" id="1501" class="list-group-item">厦门</a>
            <a href="#" id="1555" class="list-group-item">三亚</a>
            <a href="#" id = "1506" class="list-group-item">青岛</a>
            <a href="#" id="1514" class="list-group-item">日照</a>
            <a href="#" id="1465" class="list-group-item">太原</a>
            <a href="#" id = "1474" class="list-group-item">大连</a>
            <a href="#" id="1565" class="list-group-item">昆明</a>
            <a href="#" id = "1532" class="list-group-item">长沙</a>
        </div>
    </div>
    <div class="col-md-2" style="padding-right:10px">
        <div class="input-group">
            <input type="text" class="form-control" id="keyword" placeholder="城市搜索">
            <span class="input-group-btn">
                        <button class="btn btn-group" id="destroy" onclick="search()" type="button">搜索</button>
                    </span>
        </div>
    </div>
</div>

</body>
<script>
    $(function(){
        $("ul li").on('click', function () {
            $(this).siblings('li').removeClass('active');
            $(this).addClass('active');
        });
    });
</script>
</html>